<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <h1>Projects</h1>
    <ul>
      <li>
        <strong>Voting System</strong> - A web app with user/admin dashboards
        and real-time results.
      </li>
      <li>
        <strong>Contact Manager</strong> - A responsive contact management
        system with search and CRUD features.
      </li>
    </ul>
    {% endblock %}
  </body>
</html>
